#page-warning-extension_banner-warning {
  width: 100%;
  margin: 0;
  padding: 1rem;
  position: relative;
  border-radius: 0;
  border: 0;
  text-align: center;
  color: white;
  font-weight: 600;
}
